.projects-list{
    text-align: left;
}

.list ul.projects-list > li{
    display: inline;
}

.projects-list > li > img{
    float: left;
}

.list ul.tags,
.page ul.tags{
    text-align: right;
}

.list ul.tags > li{
    display: inline;
    color: #ddd;
    font-size: 80%;
    padding: 5px;
    background: rgb(16, 104, 192);
    border-radius: 6px;
}


.list ul.projects-list li .title{
    font-size: 1.5em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}

.list ul.projects-list li .date{
    width: auto;
    margin: 0;
    position: absolute;
    bottom: 15px;
    right: -5px;
    color: #fff;
    padding: 0em .5em;
    background: rgb(16, 104, 192);
    font-size: 70%;
}

.list ul.projects-list li .new{
    width: auto;
    text-align: center;
    margin: 0;
    position: absolute;
    top: -10px;
    left: -10px;
    color: #fff;
    padding: 0em .5em;
    background: rgb(207, 9, 105);
}

.list ul.projects-list li .wip{
    width: auto;
    text-align: center;
    margin: 0;
    position: absolute;
    top: -10px;
    left: -10px;
    color: #fff;
    padding: 0em .5em;
    background: rgb(210, 119, 50);
}

.list ul.projects-list li .completed{
    width: auto;
    text-align: center;
    margin: 0;
    position: absolute;
    top: -10px;
    left: -10px;
    color: #fff;
    padding: 0em .5em;
    background: rgb(16, 134, 28);
}

.project-image{
    display: inline;
    float: left;
    position: relative;
    margin-right: 1em;
    margin-bottom: 1em;
}

.page ul.tags > li{
    display: inline;
    color: #999;
}

/** NEWS **/
.news-image{
    display: inline;
    float: left;
    position: relative;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 40%;
}

.list ul.news-list li .date{
    width: auto;
}

.list ul.news-list li .reading-time{
    margin-left: 1em;
}

.list ul.news-list li a.title{
    font-size: 1.3em;
}

.list ul.news-list .tag{
    display: inline-block;
    padding: 0.3rem 0.6rem;
    background-color: #e0e0e0;
    border-radius: 0.6rem;
    line-height: 1.4em;
    font-size: 0.8em;
    margin-bottom: 2px;
}

.list ul.news-list .tag a{
    color: #212121;
}

.list ul.news-list:not(.pagination) li{
    display: block;
}

hr.light{
    border: 1px solid #eee;
}

blockquote{
    padding: 10px;
    border-left: 4px solid #e0e0e0;
    line-height: 3.2rem;
}

blockquote p{
    font-size: 1.2em;
    margin: 2rem 0 2rem 1em;
}