@media (max-width: 768px) {
    .projects-list > li > img{
        float: none;
        margin-right: 0px;
    }

    .projects-list > li > a{
        float: right;
    }

    .projects-list .progress{
        width: 100%;
    }

    .news-image{
        float: none;
    }

    .list ul.news-list li .reading-time{
        display: block;
        margin-left: 0;
    }
}
