<section class="container page">
  {{ if .Section }}
    <a href="{{.Site.BaseURL}}/{{.Section}}"><i class="fa fa-chevron-left fa-fw"></i> Torna a {{.Section}}</a>
  {{ end }}
  <article>
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">
          {{ .Title }}
        </a>
      </h1>

      {{ if .Params.tags }}
        <ul class="tags">
          {{ range .Params.tags }}
            <li>#{{ . }}</li>
          {{ end }}
        </ul>
      {{ end }}
    </header>

    {{ if .Params.images }}
      {{ $image := .Resources.GetMatch (index (.Params.images) 0) }}
      {{ $image := $image.Crop "1280x250" }}
      <img src="{{ $image.RelPermalink }}">
    {{ end }}

    {{ .Content }}
  </article>

  {{ partial "socialshare.html" . }}
  
  {{ if .Params.include_donations }}
    {{ partial "donations.html" . }}
  {{ end }}
</section>
